@font-face {
  font-family: eras-b;
  src: url(../fonts/eras-bold.otf);
}

@font-face {
  font-family: eras-demi;
  src: url(../fonts/eras-demi.otf);
}

@font-face {
  font-family: eras;
  src: url(../fonts/eras.otf);
}

@font-face {
  font-family: roboto-l;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
}

body > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > div h1.title {
  font-family: eras-b;
  color: #1899AF;
  text-transform: uppercase;
  margin-bottom: 50px;
}

body .wrapper {
  width: 1080px;
  margin: 50px auto;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .pop-up {
  width: 460px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1899AF;
  color: #FFF;
  z-index: 100;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
          animation: scale-up-center 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body .pop-up h2 {
  font-family: roboto-l;
  font-size: 1.25rem;
}

body .pop-up h2 span {
  font-family: eras-demi;
}

body .pop-up h1 {
  font-size: 3rem;
  font-family: roboto-l;
}

body .splash-screen {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .splash-screen img.portrait {
  width: 280px;
  height: 365px;
  border: 1px solid #949494;
}

body .splash-screen h1#name {
  font-size: 2.188rem;
  color: #1899AF;
}

body .splash-screen .tel {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: roboto-l;
  font-size: 1.15rem;
  margin-bottom: 10px;
}

body .splash-screen .tel img {
  height: 100%;
  margin-right: 10px;
}

body .splash-screen p {
  font-size: 1.5rem;
  text-align: center;
}

body .splash-screen img.arrow {
  width: 60px;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 30px);
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
    bottom: 35px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
    bottom: 35px;
  }
  100% {
    opacity: 1;
  }
}

body .process .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .process .wrapper .left {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body .process .wrapper .right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
}

body .process .wrapper .middle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

body .process .wrapper div {
  width: 70%;
  margin-bottom: 50px;
}

body .process .wrapper div h1 {
  font-family: eras-demi;
  font-size: 1.625rem;
}

body .process .wrapper div h1 span {
  color: #EC6724;
}

body .process .wrapper div h2 {
  font-family: roboto-l;
  font-size: 1.5rem;
  font-weight: lighter;
}

body .fees .wrapper div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .fees .wrapper div.container div {
  width: 500px;
  text-align: center;
  margin-bottom: 50px;
}

body .fees .wrapper div.container div h2 {
  font-size: 1.625rem;
  font-family: eras-demi;
  margin-bottom: 20px;
}

body .fees .wrapper div.container div ul {
  list-style-type: none;
}

body .fees .wrapper div.container div li {
  font-size: 1.20rem;
}

body .fees .wrapper div.container div span {
  color: #EC6724;
}

body .example .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .example .wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  text-align: center;
  font-family: eras;
}

body .example .wrapper div img {
  height: 295px;
}

body .tips {
  overflow-x: hidden;
}

body .tips .wrapper p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 25px;
}

body .tips .wrapper p:first-child {
  width: 60%;
}

body .tips .wrapper > h2 {
  font-family: eras-demi;
  font-size: 1.625rem;
  margin-bottom: 15px;
}

body .tips .wrapper div.container {
  width: 1080px;
}

body .tips .wrapper div.container div {
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  color: #FFF;
}

body .tips .wrapper div.container div h1 {
  width: 50%;
  font-family: eras-demi;
  font-weight: lighter;
  font-size: 1.625rem;
  margin: 25px 0;
}

body .tips .wrapper div.container div ul {
  margin-left: 40px;
  margin-bottom: 25px;
}

body .tips .wrapper div.container div ul li {
  font-size: 1.2rem;
  list-style: none;
}

body .tips .wrapper div.container div ul li::before {
  content: '\2022';
  color: #EC6724;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

body .tips .wrapper div.container div.blue {
  height: unset;
  background-color: #1899AF;
  position: relative;
}

body .tips .wrapper div.container div.blue::before {
  content: '';
  height: 100%;
  width: 1500px;
  position: absolute;
  background-color: #1899AF;
  right: 100%;
}

body .tips .wrapper div.container div.blue h2 {
  font-family: roboto-l;
  font-weight: lighter;
  font-size: 1.25rem;
  margin-bottom: 25px;
}

body .tips .wrapper div.container div.orange {
  background-color: #EC6724;
  position: relative;
  text-align: right;
  height: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .tips .wrapper div.container div.orange::after {
  content: '';
  height: 100%;
  width: 1500px;
  position: absolute;
  background-color: #EC6724;
  left: 100%;
}

body .tips .wrapper div.container div.orange h1 {
  width: unset;
}

body .tips .wrapper div.container div.orange p {
  width: 70%;
  text-align: right;
  margin-bottom: 20px;
}

body .tips .wrapper div.container div.orange p:last-child {
  margin-bottom: 25px;
}
/*# sourceMappingURL=index.css.map */