@font-face {
  font-family: eras-b;
  src: url(../fonts/eras-bold.otf);
}

@font-face {
  font-family: eras-demi;
  src: url(../fonts/eras-demi.otf);
}

@font-face {
  font-family: eras;
  src: url(../fonts/eras.otf);
}

@font-face {
  font-family: roboto-l;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: roboto;
}

html body > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body > div h1.title {
  font-family: eras-b;
  color: #1899AF;
  text-transform: uppercase;
  margin-bottom: 50px;
}

html .wrapper {
  width: 1080px;
  margin: 50px auto;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .nav-menu {
  max-height: 80px;
  width: 100%;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: visible;
  z-index: 100;
}

html .nav-menu img.logo {
  width: 200px;
}

html .nav-menu .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(15%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 15%, rgba(255, 255, 255, 0.8) 99%, rgba(255, 255, 255, 0.8) 100%);
}

html .nav-menu .btn-wrapper h1 {
  font-size: 1.625rem;
  font-weight: lighter;
  white-space: nowrap;
  padding: 24px 0;
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}

html .nav-menu .btn-wrapper h1::after {
  content: '';
  height: 3px;
  width: 0;
  background-color: #EC6724;
  position: absolute;
  top: calc(50% - 1.5px + 14px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}

html .nav-menu .btn-wrapper h1:hover::after {
  width: 100%;
}

html .nav-menu.mobile {
  display: none;
}

html .pop-up {
  width: 460px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1899AF;
  color: #FFF;
  z-index: 100;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
          animation: scale-up-center 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

html .pop-up h2 {
  font-family: roboto-l;
  font-size: 1.25rem;
}

html .pop-up h2 span {
  font-family: eras-demi;
}

html .pop-up h1 {
  font-size: 3rem;
  font-family: roboto-l;
}

html .splash-screen {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .splash-screen img.portrait {
  width: 280px;
  height: 365px;
  border: 1px solid #949494;
}

html .splash-screen h1#name {
  font-size: 2.188rem;
  color: #1899AF;
}

html .splash-screen .tel {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: roboto-l;
  font-size: 1.15rem;
  margin-bottom: 10px;
}

html .splash-screen .tel img {
  height: 100%;
  margin-right: 10px;
}

html .splash-screen p {
  font-size: 1.5rem;
  text-align: center;
}

html .splash-screen img.arrow {
  width: 60px;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 30px);
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
    bottom: 35px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
    bottom: 35px;
  }
  100% {
    opacity: 1;
  }
}

html .process .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .process .wrapper .left {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

html .process .wrapper .right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
}

html .process .wrapper .middle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

html .process .wrapper div {
  width: 70%;
  margin-bottom: 50px;
}

html .process .wrapper div h1 {
  font-family: eras-demi;
  font-size: 1.625rem;
}

html .process .wrapper div h1 span {
  color: #EC6724;
}

html .process .wrapper div h2 {
  font-family: roboto-l;
  font-size: 1.5rem;
  font-weight: lighter;
}

html .fees .wrapper div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html .fees .wrapper div.container div {
  width: 500px;
  text-align: center;
  margin-bottom: 50px;
}

html .fees .wrapper div.container div h2 {
  font-size: 1.625rem;
  font-family: eras-demi;
  margin-bottom: 20px;
}

html .fees .wrapper div.container div ul {
  list-style-type: none;
}

html .fees .wrapper div.container div li {
  font-size: 1.20rem;
}

html .fees .wrapper div.container div span {
  color: #EC6724;
}

html .example .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .example .wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  text-align: center;
  font-family: eras;
}

html .example .wrapper div img {
  height: 295px;
}

html .tips {
  overflow-x: hidden;
}

html .tips .wrapper p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 25px;
}

html .tips .wrapper p:first-child {
  width: 60%;
}

html .tips .wrapper > h2 {
  font-family: eras-demi;
  font-size: 1.625rem;
  margin-bottom: 15px;
}

html .tips .wrapper div.container {
  width: 1080px;
}

html .tips .wrapper div.container div {
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  color: #FFF;
}

html .tips .wrapper div.container div h1 {
  max-width: 50%;
  font-family: eras-demi;
  font-weight: lighter;
  font-size: 1.625rem;
  margin: 25px 0;
}

html .tips .wrapper div.container div ul {
  margin-left: 40px;
  margin-bottom: 25px;
}

html .tips .wrapper div.container div ul li {
  font-size: 1.2rem;
  list-style: none;
}

html .tips .wrapper div.container div ul li::before {
  content: '\2022';
  color: #EC6724;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

html .tips .wrapper div.container div.blue {
  height: unset;
  background-color: #1899AF;
  position: relative;
}

html .tips .wrapper div.container div.blue::before {
  content: '';
  height: 100%;
  width: 1500px;
  position: absolute;
  background-color: #1899AF;
  right: 100%;
}

html .tips .wrapper div.container div.blue h2 {
  font-family: roboto-l;
  font-weight: lighter;
  font-size: 1.25rem;
  margin-bottom: 25px;
}

html .tips .wrapper div.container div.orange {
  background-color: #EC6724;
  position: relative;
  text-align: right;
  height: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html .tips .wrapper div.container div.orange::after {
  content: '';
  height: 100%;
  width: 1500px;
  position: absolute;
  background-color: #EC6724;
  left: 100%;
}

html .tips .wrapper div.container div.orange h1 {
  width: unset;
}

html .tips .wrapper div.container div.orange p {
  width: 70%;
  text-align: right;
  margin-bottom: 20px;
}

html .tips .wrapper div.container div.orange p:last-child {
  margin-bottom: 25px;
}

html .gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: -1rem -1rem;
}

html .gallery .wrapper .gallery-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 18rem;
          flex: 1 0 18rem;
  max-width: 40%;
  margin: 1rem;
  -webkit-box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

html .gallery .wrapper .gallery-item .gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

html .gallery .wrapper .gallery-item .gallery-image:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media (max-width: 1200px) {
  body div.nav-menu img.logo {
    width: 150px;
  }
  body div.example .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1080px) {
  html body div.desktop {
    display: none;
  }
  html body > div h1.title {
    text-align: center;
    margin-bottom: 30px;
  }
  html body .wrapper {
    width: 95vw;
  }
  html body .nav-menu.mobile {
    display: block;
    max-height: unset;
    background-color: #1899AF;
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
  }
  html body .nav-menu.mobile .nav-button {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 5px;
    top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .nav-menu.mobile .nav-button span {
    height: 6px;
    width: 95%;
    background-color: #EC6724;
    border-radius: 2.5px;
    position: relative;
    -webkit-transition: .2s;
    transition: .2s;
  }
  html body .nav-menu.mobile .nav-button span::before, html body .nav-menu.mobile .nav-button span::after {
    content: '';
    height: 6px;
    width: 100%;
    background-color: #EC6724;
    border-radius: 3px;
    position: absolute;
    -webkit-transition: .2s;
    transition: .2s;
  }
  html body .nav-menu.mobile .nav-button span::before {
    top: -10px;
  }
  html body .nav-menu.mobile .nav-button span::after {
    top: 10px;
  }
  html body .nav-menu.mobile .btn-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: none;
  }
  html body .nav-menu.mobile .btn-wrapper h1 {
    margin: 0 auto;
  }
  html body .nav-menu.mobile.closed {
    left: 100vw;
  }
  html body .nav-menu.mobile.open {
    left: 0;
  }
  html body .nav-menu.mobile.open span {
    background-color: transparent;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  html body .nav-menu.mobile.open span::before {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
  }
  html body .nav-menu.mobile.open span::after {
    -webkit-transform: rotate(-45deg) translate(7px, -7px);
            transform: rotate(-45deg) translate(7px, -7px);
  }
  html body .splash-screen img.arrow {
    display: none;
  }
  html body .process .wrapper div {
    width: auto;
  }
  html body .fees .wrapper .container {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .example .wrapper div img {
    max-width: 100%;
    height: auto;
  }
  html body .tips .wrapper p:first-child {
    width: 100%;
  }
  html body .tips .wrapper .container {
    max-width: 100%;
  }
  html body .tips .wrapper .container div {
    width: 100%;
  }
  html body .tips .wrapper .container div h1 {
    max-width: 100%;
  }
  html body .tips .wrapper .container div ul {
    max-width: 90%;
    margin-left: 20px;
  }
  html body .tips .wrapper .container div.orange p {
    width: 100%;
  }
  html body .gallery .wrapper {
    width: 100%;
  }
  html body .gallery .wrapper .gallery-item {
    max-width: 45%;
    margin: .5rem;
  }
}
/*# sourceMappingURL=index.css.map */